{% if prototype is defined %}
    <div class='row'>
        <div class='col-md-6'>{{ form_row(item.brand)|e('html_attr') }}</div>
    </div>
{% endif %}

{% if collection is defined %}
    <div class='m-portlet m-portlet--rounded'>
        <div class='m-portlet__body'>
            <div class='row'>
                <div class='col-md-6'>{{ form_row(item.brand) }}</div>
            </div>
        </div>
    </div>
{% endif %}