<div role="tabpanel" class="tab-pane active" id="geral">

    <div id="stock" data-prototype="{% include 'admin/stock/collection.html.twig'
        with {'item': form.stocks, 'prototype': true} %}">

        {% for stock in form.stocks %}
            {% include 'admin/stock/collection.html.twig'
                with {'item' : stock, 'collection': true } %}
        {% endfor %}

        <div id="panel_add_stock">
            <a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--air" id="btn_add_stock">
                <span><i class="la la-plus"></i><span>{{ 'resource.actions.items.add'|trans }}</span></span>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>

</div>