<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="row">
        <div class="col-md-6">{{ form_row(form.type, {'attr': {'autofocus': true}}) }}</div>
        <div class="col-md-6">{{ form_row(form.referency) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.quantity) }}</div>
    </div>
</div>