{% extends 'admin/base.html.twig' %}
{% block title %}{{ 'billPlan.actions.new'|trans }}{% endblock %}

{% block page_content %}

    {% embed 'admin/_partials/_default_resource.html.twig' with {'route_index' : 'admin_bill_plan_index'} %}

        {% block form_start %}
            {{ form_start(form, {'action': path('admin_bill_plan_new') ~ pagination.buildQuery}) }}
        {% endblock %}

        {% block icon_list %}
            <span class="m-portlet__head-icon">
                <i class="flaticon-list"></i>
            </span>
        {% endblock %}

        {% block caption_subject %}
            <span class="caption-subject font-green-sharp bold uppercase">
                {{ 'billPlan.actions.new'|trans }}
            </span>
        {% endblock %}

        {% block nav_tabs %}
            <li class="nav-item">
                <a href="#geral" class="nav-link active" data-toggle="tab">{{ 'resource.tabs.details'|trans }}</a>
            </li>
        {% endblock %}

        {% block tab_pane %}
            {% include 'admin/billPlan/_form.html.twig' with {'form': form} %}
        {% endblock %}

    {% endembed %}

{% endblock %}